[build]
  command = "npm install && npm install --prefix backend && npm run build"
  publish = "dist"

[functions]
  directory = "backend/netlify"
  node_bundler = "esbuild"
  external_node_modules = ["bcrypt"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
